* {
    width: 1440;
    
}

header {
    position: relative;
    background-color:black;
    
    
}


.logo {
    position: relative;
    padding-left: 140px;
    padding-top: 83px;
    
}


.nav {
    color:white;
    position: relative;
    margin-left: 20%;
    margin-bottom: 20%;
    
    
    display: flex;
    justify-content: center;
    
    
}


.nav > li {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color:white;
    font-size: 22px;
    
}

li {
    padding-left: 97px;
    position: relative;
    margin-top: -3.8%;
}

li > a {
    color: #fff !important;
    text-decoration: none
}


.welcome {
    position: relative;
    background-color: #000000;
    margin-top: -20%;
   

}

.welcome > img {
    
    position: relative;
    margin-left: 35%;
    
}

.text-welcome {
    position: absolute;
    margin-top: -35%;
    
    color: white;
    margin-left: 6.5%;
}



.text-welcome h1 {
    font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 90px;
/* identical to box height, or 112% */

letter-spacing: 5px;
text-transform: uppercase;
}


.text-welcome  > p {
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 33px;
/* identical to box height */

letter-spacing: 2px;

color: #FFFFFF;
}


.text-welcome > button {
    font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 2px;
background-color: #710707;
width: 360px;
height: 75px;
color: #FFFFFF;
padding-left:78px;
border-radius: 10px;
}