body{
	margin:0;
	padding:0;
  overflow-x: hidden
}

header{

	position:relative;
	background-color:#000;
  
	height:150px;
	display:flex;
	 align-items: center;
}

.logo {
position:relative;
margin-left:10%;
width:30%;
}


.nav {
    color:white;
    position: relative;
	display:block;
	margin:0;
	margin-left:10%;
	padding:0;
}


.nav > li {
	float:left;
	display:flex;
	align-content: center;
    list-style-type: none;
	margin-left:30px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    
}


a {
    color: #fff !important;
    text-decoration: none
}


.welcome {
	position: relative;
	background-color: black;
	height:  100vh;
	display: block; /*тут было флекс, нахуя? */
}

.welcome > img {
	
	position: absolute;
	right: 0;
	top: 10%;
}


.text-welcome {
	display:block;
	color: white;
	top: 10%; /*тут было margin и произошло выпадание внешних отступов после задания релевантного display:block, почему можешь почитать в интернетах*/
	position: relative;
	margin-left: 12%;
	
	
}
.basic {
	position: relative;
	width: 100px;
  
  border: 3px solid white;
}


.amount-text {
  margin-left: 80%;
}

.basic input[type="number"] {
	display: block;
	height: 32px;
	line-height: 32px;
	width: 100%;
	padding: 0;
    color:var(--main-color);
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
    background-color: var(--bg-color);
	border:none; /*u also can use it to delete shadow from input*/
    color: white;
}
.basic input[type="number"]::-webkit-outer-spin-button,
.basic input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
.number-minus {
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	width: 20px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
	border-right: 1px solid #ddd;
	font-size: 16px;
  color: white;
    background-color: var(--bg-color);
	border: none; /*u could remove border this way*/

	font-weight: 600;
}
.number-plus {
	position: absolute;
	top: 1px;
	border: none; /*u could remove border this way*/
	right: 1px;
	bottom: 1px;
	width: 20px;
	padding: 0;
	display: block;
	text-align: center;
	/*border-left: 1px solid #ddd;*/ /*why did u set it if u need it without any border?*/
	font-size: 16px;
	font-weight: 600;
    color: white;
    background-color: var(--bg-color);
}







.text-welcome > h1 {
	font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 90px;

margin:0;
letter-spacing: 5px;
text-transform: uppercase;
}


.text-welcome p {
	font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 33px;
/* identical to box height */

letter-spacing: 2px;

color: #FFFFFF;
}

.text-welcome > button {
	font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 2px;
background: #710707;
width: 360px;
height: 75px;
color: #FFFFFF;
padding-left:78px;
border-radius: 10px;
}

/*Are u serious? Why don't you just delete this block? It's my example, dude! I set zero height, so it doesn't matter*/


.visiting { /*And when I setted 0 height for previous block, this go top on -10%, but it DO not have to */
    position: relative;
    background-color: #E5E5E5;
    height: 240px;
    width: 100vw;/*I also told u not to use fixed values in width of block!*/
    margin-top: 0; /*set zero*/
    height:auto;
}

.visiting > h1 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */
    color:rgba(157, 134, 101, 1);
    letter-spacing: 5px;
    text-transform: uppercase;
    position: relative;
    padding-top: 5%;
    padding-left: 5%;
	border-bottom: 3px solid rgba(113, 7, 7, 1); /*like this, i think, but ur case is usable too*/
	margin-top:0; /*set it because in another case it sees like shit, with white space between blocks, plz try to learn chrome devtools, it realy helps*/
}


/*.underline-title {
    position: relative;
  }
  .underline-title::after {
    content: "";
    position: absolute;
    margin-top: -2%;
    left: 5%;
    right: 0;
    height: 3px;
    background-color: rgba(113, 7, 7, 1)
   
    
  } COME ON JUST USE THE BORDER!!!*/ 


  .visiting-container-images {
      position: relative;
      display: flex;
      justify-content: center; /*Add this one to centeralize(for horizontal) content, now it always in center, no depended on width */
      background-color: #E5E5E5;
      flex-wrap: wrap;
      gap: 50px 150px; /*change it to 50 from 150 to place 3 in a row */
      
  }

  .images {
    background-color: #E5E5E5;
  }


  .images > h3 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: #E5E5E5;
    
  
  }


  .images > p {
      
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #000000;
    
  }


.flex-line {
    position: relative;
    margin-top: 1%;
}



.explore {
  position: relative;
  background-color: black;
  display:inline-block;
 /* height: 240px;*/ /*why was it fixed, just unset*/
  width: 100vw;/* Right!*/
  padding-top: 6%;
}


.text-explore h1, p {
 color: white;
}

.text-explore p {
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 38px;
}





.text-explore {
  padding-left: 3%;
  position: relative;
  float:left;
  width:45%;
}


.image-explore {
	position:relative;
	display:block;
float:left;
width:45%;
margin-left:3%

}


.text-explore > h1{
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  /* identical to box height, or 112% */
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 5%;
  color: #FFFFFF;
  border-bottom: 3px solid #710707;
}

.text-explore p {
  position: relative;
  padding-top: 6.9%;
}

 span {
   color: rgba(202, 170, 125, 1);
}
@media screen and (max-width: 1200px){ /*It's always used for adaptive*/
	.text-explore {
  padding-left: 0%;
  width:100%;
}
.image-explore {
width:100%;
margin-left:0;
}
.videoJourney {
  width:100%;
margin-left:0;
}


.textBelowVideo {
  padding-left: 0%;
  width:100%;
}

.buyTickets {
  margin-left: 0%;
  width:100%;
  
}


.amount {
  padding-left: 0%;
  width:100%;
  
}
}


.videoJourney {
  position: relative;
  
  background-color: white;
  
  width: 100vw;/* Right!*/
  /*padding:  0 3% 0 3%;*/ /*FOR WHAT??if u do smthng u must explain for what in your head*/
  position:relative;
	display:block;

  
  
  
}


.videoJourney > video {
  position: relative;
  margin-left: 5%;/*change ????padding right???? to margin-left, read about padding and margin again*/
  margin-top:5%;
  width: 90%; /*change 93 to 90*/
}


.textBelowVideo {
  display:flex;
  gap: 5%;
  justify-content:center; /*use it or margin-left for h1 to move text to the right or to the center*/
}


.textBelowVideo  h1{
  font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 80px;

text-transform: uppercase;

color: #9D8665;
position: relative;
}



.textBelowVideo p {
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 38px;
/* or 175% */
color:#000;
display: flex;
align-items: center;
}


.buyTickets {
  position: relative;
	background-color: black;
	height:  100vh;
	display: block; 
 /*delete it padding-left: 3%;
  padding-top: 1%;*/

}



.buyTickets h1 {
  font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 90px;
/* identical to box height, or 112% */
padding-top:3%;
margin-left:5%; 
letter-spacing: 5px;
text-transform: uppercase;
border-bottom: 3px solid #710707;
color: #FFFFFF;
}


.buyTickets h3 {
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
/* identical to box height */


color: #FFFFFF;
}


.buyTickets > img {
  position: relative;
  margin-left:5%; 
  
}


.ticketType label{
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 26px;
/* identical to box height */


color: #FFFFFF;
}

form {
  position: relative;
  padding-right: 20%;
}



.ticketType {
  position: relative;
  margin-left: 48%;
  margin-top: -30%;
  
}



.ticketType label {
  display: flex;
  padding-bottom: 61px;
}


.ticketType > h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
 
  
  
  color: #FFFFFF;
  
}


@media screen and (max-width: 1200px) {
  
  .radio span {
    position: relative;
    margin-left: 18%;
    margin-top: -10%;
    width: 100%;
    
  }
}

.radio input { display: none; /* Прячем исходный переключатель */ }
.radio span {
 position: relative; /* Относительное позиционирование */
 display: inline-block; /* Строчно-блочный элемент */ 
 width: 17px; height: 17px; /* Размеры */
 background: #F5F5F5; /* Серый цвет фона */
 border-radius: 50%; /* Круглый переключатель */
 box-shadow: inset 0 0 5px rgba(0,0,0,0.5); /* Тень внутри */
 border: 2px solid #FFFFFF;

}
.radio input:checked + span { 
 background: #030303; 
}
/* Добавляем белую точку по центру */
.radio input:checked + span::before { 
 content: '';
 position: absolute;
 left: 5px; top: 5px;
 background: #fff;
 width: 7px; height: 7px;
 border-radius: 50%;
}


.ticketType span {
  left: -30px;
  
}

.amount  h3 {
  position: relative;
  padding-left:80%;
  margin-top: -15.8%;
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
/* identical to box height */


color: #FFFFFF;
  
}
.basic {
	position: relative;
	width: 100px;
	margin-left:80%;
	margin-top:2%;
  /*margin-left: 50%;
  margin-top: 20%;*/
  border: 3px solid white; 
}

.basic input[type="number"] {
	display: block;
	height: 32px;
	line-height: 32px;
	width: 100%;
	padding: 0;
    color:var(--main-color);
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
    background-color: var(--bg-color);
	border:none; /*u also can use it to delete shadow from input*/
    color: white;
}
.basic input[type="number"]::-webkit-outer-spin-button,
.basic input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
.number-minus {
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	width: 20px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
	border-right: 1px solid #ddd;
	font-size: 16px;
  color: white;
    background-color: var(--bg-color);
	border: none; /*u could remove border this way*/
    
	font-weight: 600;
}
.number-plus {
	position: absolute;
	top: 1px;
	border: none; /*u could remove border this way*/
	right: 1px;
	bottom: 1px;
	width: 20px;
	padding: 0;
	display: block;
	text-align: center;
	/*border-left: 1px solid #ddd;*/ /*why did u set it if u need it without any border?*/
	font-size: 16px;
	font-weight: 600;
    color: white;
    background-color: var(--bg-color);
}







.total > h3 {
  position: relative;
  padding-left:80%;
  margin-top: 5.8%;
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
/* identical to box height */


color: #FFFFFF;
}


.buyNow > button {
border-radius: 2px;
position: relative;
color: #000000;
background-color: #fff;
/* identical to box height */
height: 50px;
width: 175px;
border-radius: 0px;
margin-left: 78.7%


}

.buyNow p {
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 26px;
margin:3px;
color: #000000;
}



.contacts {
  background-color: #E5E5E5;
  position: relative;
  
  height: 240px;
  width: 100vw;/*I also told u not to use fixed values in width of block!*/
  
  height:auto;
  
}


.contacts > h1 {
  font-family: Forum;
font-style: normal;
font-weight: normal;
font-size: 80px;
line-height: 90px;
/* identical to box height, or 112% */

letter-spacing: 5px;
text-transform: uppercase;

color: #9D8665;
position: relative;
padding-top: 2%;
margin-top: 0;
margin-left:5%;
border-bottom: 3px solid rgba(113, 7, 7, 1);
}



.map {
  position: relative;
  padding-left: 38%;
  margin-top: -15%;
  padding-bottom: 5%;
  
  
}

.textLeftOfTheMap h3 {
  position: relative;
  margin-top: 2%;
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
/* identical to box height */


color: #000000;

margin-left:5%;
}

.contactsLeftOfTheMap > li {
  list-style-type: none;
  font-family: Roboto;
  font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 26px;
/* identical to box height */

color: #000000;
padding-bottom: 32px;
margin-left: 3%;


}

.footer {
  background-color: black;
}



.logo-footer {
  position: relative;
  padding-left: 5.7%;
  padding-top: 5%;
}

.nav-footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-auto-rows: minmax(50px, auto);
  padding-left: 30%;
  margin-top: -2%;
}


.nav-footer > li {
  font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 50px;
letter-spacing: 2px;
list-style-type: none;
color: #FFFFFF;
position: relative;
padding-left: 30%;



}

.social {
  position: relative;
  display: flex;
  margin-left: 70%;
  padding-bottom: 84px;
 
 
 
  
  
}


.social > a {
  position: relative;
  padding-left: 48px;
  margin-top: -11.6%; 
  
}
